{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block extrastyle %}
    {% static "myApp/future.css" %}
{% endblock %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}JS-Future{% endblock %}</title>
  </head>
  <body>
    {% block content %}

    <div class="container" style="padding-top: 80px;">
      <div class="card-deck">
        {% for future in future_list %}
        <div class="card">
          <img class="card-img-top" src="{{ future.photo.url }}">
          <div class="card-body">
            <h5 class="card-title">{{ future.title }}</h5>
            <p class="card-text">{{ future.detail|linebreaks }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <br>

    </div>
    <div class="container">
      <div class="card" style="width: 22rem;">
        <img class="card-img-top" src="{% static "myApp/images/and.jpg" %}">
        <div class="card-body">
          <h5 class="card-title">And ...</h5>
          <p class="card-text">회사를 유지하며 다른 전문가들과 미래를 고민할 거예요.<br>재단을 설립하여 미래 인재들을 양성하고, 사람들에게 도움이 되는 정보들을 끝없이 공유할 것입니다.</p>
        </div>
      </div>
    </div>
    <br>
    {% endblock %}

  </body>
</html>
