{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block extrastyle %}
    {% static "myApp/index.css" %}
{% endblock %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>{% block title %}Junseo's Story{% endblock %}</title>
  </head>

  <body>

    {% block content %}


    <!--상단 헤더-->
    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100 justify-content-center">
          <div class="col-lg-5 my-auto">
            <div class="header-content mx-auto">
              <h1 id="main-title" class="mb-5">세상을 움직이는 힘,</br> 그 중심 속의 나</h1>
              <a href="#main" class="js-scroll-trigger btn btn-outline btn-xl">Click!</a>
            </div>
          </div>

          <div class="col-lg-5 my-auto">

            <span data-toggle="modal" data-target="#myModal">
              <input type="image" data-toggle="tooltip" data-placement="top" title="Click ME!" src="{% static "myApp/images/me3.png" %}" class="img-fluid rounded-circle" style="border: 1px dashed white;"/>
            </span>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
              <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <img src="{% static "myApp/images/me3.png" %}" alt="avatar" class="rounded-circle img-responsive" style="width:100%; height:auto;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-center mb-1" style="color: black;">
                    <h3 class="md-form ml-0 mr-0">Junseo Lee</h3>

                    <a href="mailto:jssomon@gmail.com"><h5 class="md-form ml-0 mr-0">jssomon@gmail.com</h5></a>

                    <div class="md-form ml-0 mr-0">
                      세상을 움직이는 힘, 그 중심속의 나
                    </div>
                    <br>

                    <div class="text-center mt-4">
                      <input type="image" onclick="window.open('https://www.facebook.com/junseo.pi')" src="{% static 'myApp/images/facebook.png' %}" style="width:50px; height:50px;">
                      &emsp;
                      <input type="image" onclick="window.open('https://www.instagram.com/junseo_pi/')" src="{% static 'myApp/images/instagram.png' %}" style="width: 50px; height:50px;">
                      &emsp;
                      <input type="image" onclick="window.open('https://github.com/Junseo-PI/')" src="{% static 'myApp/images/github.png' %}" style="width: 50px; height:50px;">
                      kakao@rasplay
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!--메인 이미지-->
    <section id="main">
      <br><br>
      <div class="container-fluid">

        <!--PROJECT SECTION-->
        <section id="project" style="padding-top:10px; padding-bottom:10px;">
          <p></p>
          <div class="container">

            <div class="row">
              <div class="col-md-6 col-sm-12">
                <img src="{% static "myApp/images/projects.png" %}" style="width: 100%; height: auto;">

                <form action="projects">
                  <button class="btn-main">Projects</button>
                </form>
              </div>

              <div class="col-md-6 col-sm-12">
                <p id="sub-title">프로젝트 소개</p>
                <p id="sub-detail">제가 좋아하는 주제와 사회에 도움이 될 만한 주제로 프로젝트를 진행했어요.</p>
              </div>
            </div>
            <p/>
          </div>
        </section>
      </div>

      <div class="container-fluid" style="background-color: #FFE08C;">
        <!--ACTIVITY SECTION-->
        <section id="activity" style="padding-top:10px; padding-bottom:10px;">
          <p></p>
          <div class="container">

            <div class="row"> <!--Projects-->
              <div class="col-md-6 col-sm-12" style="text-align:right;">
                <p id="sub-title">활동 소개</p>
                <p id="sub-detail">제가 경험한 것을 토대로 다른 사람들에게 정보를 공유하는 활동들을 했어요.</p>
              </div>

              <div class="col-md-6 col-sm-12">
                <img src="{% static "myApp/images/activities.png" %}" style="width: 100%; height: auto;">

                <form action="activities">
                  <button class="btn-main">Activities</button>
                </form>
              </div>

            </div>
            <p/>
          </div>
        </section>
      </div>

      <div class="container-fluid">
        <!--FUTURE SECTION-->
        <section id="future" style="padding-top:10px; padding-bottom:10px;">
          <p></p>
          <div class="container">

            <div class="row">
              <div class="col-md-6 col-sm-12">
                <img src="{% static "myApp/images/future.png" %}" style="width: 100%; height: auto;">

                <form action="future">
                  <button class="btn-main">Future</button>
                </form>
              </div>

              <div class="col-md-6 col-sm-12">
                <p id="sub-title">미래 소개</p>
                <p id="sub-detail">저는 확실한 꿈이 있어요. 제 미래는 어떤 모습인지 확인해보세요!</p>
              </div>
            </div>
            <p/>
          </div>
        </section>
      </div>


      <!-- Contact Me -->

      <div class="container-fluid" style="background-color: #FFE08C;">
        <!--ACTIVITY SECTION-->
      </div>

  </section> <!--end main section-->

    {% endblock %}
  </body>
</html>
