{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block extrastyle %}
    {% static "myApp/projects.css" %}
{% endblock %}

<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}JS-Projects{% endblock %}</title>
  </head>
  <body>
    {% block content %}
    <!--<a href="#smart" class="btn">click</a>-->
    <div style="height:100px; background-color:transparent;">

    </div>

      {% for proj in proj_list %}
      <div class="container-fluid" style="background-color: {{ proj.color }};">
      <section id="{{ proj.nick }}" style="padding-top:20px; padding-bottom:30px;">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <h1 id="title" style="color:#133856;">{{ proj.title }}</h1>
              <mark style="background-color:#D94D50; color: white;">>  {{ proj.summary }}</mark>
            </div>
          </div>
        </div><br>

        <div class="container">
          <div class="row">
            <div class="item col-md-6 col-sm-12">
              <img class="rounded" src="{{ proj.photo.url }}" style="width: 100%; height: auto;"/>
            </div>
            <div class="col-md-6 col-sm-12">
              <div id="container">
                <div id="content">
                  {{ proj.detail|linebreaks }}<br><br>
                  <a class="btn-proj" href="{{ proj.link }}" target="_blank">project page</a>
                </div>
              </div>
            </div>

          </div>

        </div>

      </section>
    </div>
      <p/>
      {% endfor %}

    {% endblock %}

  </body>
</html>
